<meta charset="utf-8">
<title>Стартовая страница</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="">
<meta name="author" content="slaus" />
<meta name="theme-color" content="#fff">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:type" content="text/html" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />

<meta name="msapplication-TileImage" content="img/favicons/favicon.png">
<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.png" sizes="32x32" />
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="icon" sizes="16x16" href="img/favicon-16x16.png" type="image/png">
<link rel="icon" sizes="32x32" href="img/favicon-32x32.png" type="image/png">
<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="img/apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="1024x1024" href="img/apple-touch-icon-1024x1024.png">

<link rel="stylesheet" href="css/main.min.css">

<!--[if lt IE 9]>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection"/>
<script src="js/html5shiv.min.js"></script>
<script src="js/css3-mediaqueries.min.js"></script>
<script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('main');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
</script>
<![endif]-->